@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CI_Platform_Project.Models.UserCrudVieweModel
@{
}
<html>
<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

</head>
<body>
    <div class="container-fluid d-flex">

    
           @* <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4">Navigation</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                        <i class="bi bi-person" height="16" width="16"></i>User
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                        <i class="bi bi-file-earmark-text" height="16" width="16"></i>
                            CMS Pages
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                        <img src="~/img/mission.png" height="16" width="16"></img>
                            Mission
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                        <i class="bi bi-columns-gap" height="16" width="16"></i>
                            Mission Theme
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                        <i class="bi bi-tools" height="16" width="16"></i>
                            Mission Skills
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                        <i class="bi bi-folder" height="16" width="16"></i>
                            Mission Application
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                        <i class="bi bi-journal-bookmark" height="16" width="16"></i>
                            Story
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                        <i class="bi bi-map" height="16" width="16"></i>
                            Banner Management
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>mdo</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>*@
       
        <div class="usercrud">
            <table id="userTable">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>EmployeeID</th>
                        <th>Department</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model.users)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.EmployeeId</td>
                            <td>@user.Department</td>
                            <td>
                                @if (@user.Status == 1)
                                {
                                    <span style="color:green">Active</span>
                                }
                                else
                                {
                                    <span style="color:red">Inactive</span>
                                }
                            </td>
                            
                            <td><i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" @*id="@fn.UserId"*@ onclick="editAdminUser(this.id)"></i> | <i class="fa fa-trash" style="color:red"></i></td>

                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {

        $('#userTable').DataTable();
    });



</script>
@*<script src="~/js/userCrud.js"></script>*@

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</html>