@using CI_PLatform_Entities.Models;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    bool favcheck = false;
}
@{
    int sum = 0;
    int count = 0;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/VolunteeringMission.css" asp-append-version="true">

    <title>volunteering_mission</title>
</head>

<body>

    @{
        Layout = "_navbar";
    }
    <div class="filters-section d-flex align-items-start flex-wrap justify-content-start">
    </div>

    <!-- Container for the image gallery -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                <div class="container">
                    <!-- Full-width images with number text -->
                    <div class="mySlides">
                        <div class="numbertext"></div>
                        <img class="slide-imgs"
                             src="~/img/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                             style="width:100%" />
                    </div>

                    <div class="mySlides">
                        <div class="numbertext"></div>
                        <img class="slide-imgs"
                             src="~/img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                             style="width:100%" />
                    </div>

                    <div class="mySlides">
                        <div class="numbertext"></div>
                        <img class="slide-imgs" src="~/img/img11.png" style="width:100%" />
                    </div>
                    
                    <div class="mySlides">
                        <div class="numbertext"></div>
                        <img class="slide-imgs" src="~/img/Animal-welfare-&-save-birds-campaign-1.png"
                             style="width:100%" />
                    </div>


                    <!-- Thumbnail images -->
                    <div class="row">
                        <div class="column" style="width:25%;">
                            <img class="demo cursor"
                                 src="~/img/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                                 style="width:100%" onclick="currentSlide(1)" alt="Grow-Trees-On-the-path-to-environment-sustainability" />
                        </div>
                        <div class="column" style="width:25%;">
                            <img class="demo cursor"
                                 src="~/img/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                 style="width:100%" onclick="currentSlide(2)" alt="CSR-initiative-stands-for-Coffee--and-Farmer-Equity" />
                        </div>
                        <div class="column" style="width:25%;">
                            <img class="demo cursor" src="~/img/img11.png" style="width:100%"
                                 onclick="currentSlide(3)" alt="img11" />
                        </div>
                        <div class="column" style="width:25%;">
                            <img class="demo cursor" src="~/img/Animal-welfare-&-save-birds-campaign-1.png"
                                 style="width:100%" onclick="currentSlide(4)" alt="Animal-welfare-&-save-birds-campaign" />
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                <div class="txt mb-0">
                    <h2>@ViewBag.Missiondetail.Title</h2>
                    <p class="mt-2">
                        @ViewBag.Missiondetail.ShortDescription
                    </p>
                </div>
                @if (ViewBag.Missiondetail.MissionType == "time")
                {
                    <div class="date-line">
                        <hr class="hr-1">
                        <p class="date-detail mb-3">From @ViewBag.Missiondetail.StartDate.ToString().Split(" ")[0] until @ViewBag.Missiondetail.EndDate.ToString().Split(" ")[0]</p>
                        <hr class="hr-1">
                    </div>
                }
                else
                {

                    <div class="date-line">
                        <hr class="hr-1">
                        <p class="date-detail mb-3">@ViewBag.Missiondetail.GoalObjectiveText</p>
                        <hr class="hr-1">
                    </div>


                }

                <div class="d-flex justify-content-between mx-3 mt-2">
                    <div class="d-flex align-items-start ms-2">
                        <img src="~/img/Seats-left.png" alt="">
                        <div class="ms-2">
                            <p class="mb-0">@ViewBag.Missiondetail.Availability</p>
                            <p class="info-txt">Seats left</p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mx-3 mt-2">
                        <div class="ms-2">
                            <div class="d-flex">
                                <img src="~/img/achieved.png" alt="">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow=""
                                     aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width:75%; background-color: #F88634;"></div>
                                </div>
                            </div>
                            <p class="info-txt ms-4">8000 achieved</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="m-auto d-flex btns">

                    @if (ViewBag.Missiondetail.isfav == true)
                    {
                        <button onclick="AddtoFav(@ViewBag.Missiondetail.MissionId,@ViewBag.UserId)" class="px-3 py-2 my-3" id="add-fav-btn">
                            <i class="bi bi-suit-heart-fill" style="color:darkorange" id="addtofav"></i>&nbsp; Add
                            to Favourite &nbsp;
                        </button>
                    }
                    else
                    {
                        <button onclick="AddtoFav(@ViewBag.Missiondetail.MissionId,@ViewBag.UserId)" class="px-3 py-2 my-3" id="add-fav-btn">
                            <i class="bi bi-suit-heart-fill" id="addtofav"></i>&nbsp; Add
                            to Favourite &nbsp;
                        </button>
                    }
                   
                    <button class="apply px-3 py-2 my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="~/img/add1.png" alt="">&nbsp;
                        Recommend to a Co-Worker &nbsp;
                    </button>
                    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Recommend to co-worker</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body overflow-y-auto" style="height:200px;">
                                    @foreach (var user in ViewBag.allavailuser)
                                    {
                                        <div class=" userlistdiv align-items-center d-flex my-3">
                                            <img src="~/img/volunteer1.png" class="aviluser ms-2 my-1">
                                            <label class=" ms-4  me-auto">   @user.username  @user.lastname </label>
                                            <button class="share-btn me-3 btn btn-outline-primary" value="@user.userEmail" onclick="Recommend(this)" id="@user.userEmail" name="email"> Share </button>
                                        </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-rule  " id="givenrating">
                    <hr class="hr-btn">             
                    @if (@ViewBag.Missiondetail.UserPrevRating != null)

                    {
                        for (long i = 0; i < @ViewBag.Missiondetail.UserPrevRating; i++)
                        {
                            var k = i + 1;
                            <i class="bi bi-star-fill star" id="@k" style="color:#F88634; " onclick="ratemission(this.id,@ViewBag.Missiondetail.MissionId,@ViewBag.UserId)"></i>
                        }
                        for (long i = @ViewBag.Missiondetail.UserPrevRating; i < 5; i++)
                        {
                            var k = i + 1;
                            <i class="bi bi-star-fill star  " id="@k" style=" " ; border-color:black" onclick="ratemission(this.id,@ViewBag.Missiondetail.MissionId,@ViewBag.UserId)"></i>
                        }


                    }
                    else
                    {
                        <i class="bi bi-star-fill star star-1" id="1" onclick="ratemission(this.id,@ViewBag.Missiondetail.MissionId, @ViewBag.user.UserId)"></i>
                        <i class="bi bi-star-fill star star-2" id="2" onclick="ratemission(this.id,@ViewBag.Missiondetail.MissionId, @ViewBag.user.UserId)"></i>
                        <i class="bi bi-star-fill star star-3" id="3" onclick="ratemission(this.id,@ViewBag.Missiondetail.MissionId, @ViewBag.user.UserId)"></i>
                        <i class="bi bi-star-fill star star-4" id="4" onclick="ratemission(this.id,@ViewBag.Missiondetail.MissionId, @ViewBag.user.UserId)"></i>
                        <i class="bi bi-star-fill star star-5" id="5" onclick="ratemission(this.id,@ViewBag.Missiondetail.MissionId, @ViewBag.user.UserId)"></i>
                    }

                    <hr class="hr-btn">
                </div>
                <div class="four-filters d-flex mt-4">
                    <div class="location box p-2">
                        <img src="~/img/pin1.png" alt="" class="mb-4">
                        <p class="mb-0" style="color: #757575;">City</p>
                        <p style="color: #414141;">@ViewBag.Missiondetail.Cityname</p>
                    </div>
                    <div class="theme box p-2">
                        <img src="~/img/web.png" alt="" class="mb-4">
                        <p class="mb-0" style="color: #757575;">Theme</p>
                        <p style="color: #414141;">@ViewBag.Missiondetail.Themename</p>
                    </div>
                    <div class="date box p-2">
                        <img src="~/img/calender.png" alt="" class="mb-4">
                        <p class="mb-0" style="color: #757575;">Date</p>
                        <p style="color: #414141;">Ongoing Opportunity</p>
                    </div>
                    <div class="organization box p-2">
                        <img src="~/img/organization.png" alt="" class="mb-4">
                        <p class="mb-0" style="color: #757575;">Organization</p>
                        <p style="color: #414141;">@ViewBag.Missiondetail.OrganizationName</p>
                    </div>
                </div>
                @if (ViewBag.Missiondetail.isapplied != null)
                {
                    @if (ViewBag.Missiondetail.isapplied==1)
                    {
                        <div class="m-auto text-center mt-2 ">
                            <button class="apply px-3 py-2 my-3">
                                Already Applied &nbsp; <img src="~/img/right-arrow.png" alt="">
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="m-auto text-center mt-2 ">
                            <button class="apply px-3 py-2 my-3" onclick="apply(@ViewBag.Missiondetail.MissionId, @ViewBag.user.UserId)">
                                Apply Now &nbsp; <img src="~/img/right-arrow.png" alt="">
                            </button>
                        </div>
                    }
                }
                
               
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-md-12 col-sm-12">
                <div class="w3-container">
                    <div class="w3-bar country tab-color">
                        <button class="w3-bar-item w3-button tablink active-tab"
                                onclick="openCity(event,'London')">
                            Mission
                        </button>
                        <button class="w3-bar-item w3-button tablink"
                                onclick="openCity(event,'Paris')">
                            Organization
                        </button>
                        <button class="w3-bar-item w3-button tablink"
                                onclick="openCity(event,'Tokyo')">
                            Comments
                        </button>
                    </div>

                    <div id="London" class="w3-container mt-4 city">
                        <h4>Introduction</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fugit assumenda ad eaque
                            facere voluptatem explicabo voluptas commodi repellendus sint?
                        </p>

                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus beatae inventore labore
                            possimus earum, id explicabo nostrum dolorem sint quaerat quod unde dignissimos facilis
                            eaque?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam similique enim maiores
                            vitae ad, temporibus quis libero. Non laborum dolore eligendi unde dolorem iste, voluptate
                            ipsa repellendus molestiae sed enim recusandae facere nam aliquid autem tempora. Vel
                            consequatur expedita porro, fuga in inventore, numquam, assumenda quibusdam ipsa iusto
                            possimus ducimus!
                        </p>

                        <h4>Challenge</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo aut reprehenderit,
                            adipisci, modi ea quidem accusamus iure, reiciendis placeat officia doloribus tempora autem
                            eveniet fuga asperiores sed veniam suscipit ipsum neque repellendus corporis quas. Natus
                            consequuntur nam amet ullam laborum sed eum quam rerum et eveniet, suscipit sequi enim.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat dolorum rem, recusandae,
                            culpa odio, delectus modi quo ipsa totam amet harum! Delectus obcaecati alias cum vel sit
                            placeat quod iste unde autem, neque deleniti consequuntur.
                        </p>

                        <h4>Documents</h4>
                        <div class="m-auto d-flex btns">
                            <button class="apply px-3 py-2 my-3">
                                <img src="~/img/pdf.png" alt="">&nbsp;
                                lorem-ipsum &nbsp;
                            </button>
                            <button class="apply px-3 py-2 my-3">
                                <img src="~/img/doc.png" alt="">&nbsp;
                                Lorem ipsum dolor sit.doc &nbsp;
                            </button>
                            <button class="apply px-3 py-2 my-3">
                                <img src="~/img/xlsx.png" alt="">&nbsp;
                                important_doc.xls &nbsp;
                            </button>
                        </div>
                    </div>

                    <div id="Paris" class="w3-container mt-4 city" style="display:none">

                        <p>
                            Paris is the capital of France. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Sed
                            eligendi ut quis? Ad repellat est officia explicabo nihil dolore, voluptates, veritatis
                            blanditiis commodi vero optio necessitatibus fugiat! Optio error accusantium, nulla,
                            atque
                            doloribus dolores repellat dolorum ea harum eum ipsam dicta quam vero quae blanditiis
                            ullam
                            expedita! Ex, qui dolorem!
                        </p>
                    </div>

                    <!-- ===================== Comment ========================= -->

                    <div id="Tokyo" class="w3-container mt-4 city shadow commentdiv" style="display:none">
                        <textarea name="" id="comment" class="w-100" placeholder="Enter your comments..."></textarea>

                        <div class="m-auto mt-1 ">
                            <button class="apply-btn px-3 py-2 my-3" onclick="PostComment()">
                                Post Comment &nbsp; <img src="~/img/right-arrow.png" alt="">
                            </button>
                        </div>



                        <div class="comment-section commentr">
                            @foreach (var i in @Model[0].Comments)
                            {
                                <div class="comment d-flex">
                                    <div class="">
                                        <img src="~/img/volunteer1.png" class="rounded-circle" height="52"
                                             width="52" alt="">
                                    </div>
                                    <div class="ms-3">
                                        @if(i.User != null)
                                        {
                                            <p style="margin-left: 1rem;">@i.User.FirstName @i.User.LastName</p>
                                        }
                                       
                                        <p style="margin: 0.5rem 0 0 1rem;">@i.CreatedAt.ToString("dddd, dd MMMM yyyy , hh:mm tt")</p>
                                        <p style="margin: 0 0 0 1rem;">
                                            @i.CommentValue
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-12 col-sm-12 mt-4 ">
                <div class="col col-12 col-lg-12 col-md-6 mt-3 mt-lg-0 p-3 info-section shadow">
                    <h3>Information</h3>
                    <hr style="border: 2px solid black">
                    <div class="skills d-flex justify-content-between">
                        <p>Skills</p>
                        <div class="skill-text">
                            <p>Cool, Easy going, Math, Computer</p>
                        </div>
                    </div>
                    <hr style="border: 2px solid black">
                    <div class="days d-flex justify-content-between mt-2">
                        <p>Days</p>
                        <div class="days-text">
                            <p>Weekend Only</p>
                        </div>
                    </div>
                    <hr style="border: 2px solid black">
                    <div class="rating d-flex justify-content-between mt-2">
                        <p>Rating</p>
                        <div class="rating-text ">
                            @if(Model[0].MissionRatings.Count == 0)
                            {
                                <img src="~/img/selected-star.png" alt="">
                                <img src="~/img/selected-star.png" alt="">
                                <img src="~/img/selected-star.png" alt="">
                                <img src="~/img/selected-star.png" alt="">
                                <img src="~/img/selected-star.png" alt="">
                                <p class="d-inline">(by 125 volunteers)</p>
                            }
                            else
                            {
                                @foreach(var rate in Model[0].MissionRatings)
                                {
                                    sum = sum + rate.Rating;
                                    count++;
                                }
                                @for(var i = 0; i< (sum/count); i++){
                                    <img src="~/img/selected-star.png"/>
                                }
                                @for (var i = 0; i< 5 - (sum / count); i++)
                                {
                                    <img src="~/img/star.png"/>
                                }
                                <div class="mt-1">
                                    (by @count volunteers)

                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- =====================================================================================================================================
                =============================================================== VOLUNTEER SECTION ====================================================
                ===================================================================================================================================== -->


                <div class="volunteer-section mt-3 shadow">
                    <div class="col col-12 col-lg-12 col-md-6 mt-3 mt-lg-0 p-3 info-section" style="height:450px">
                        <h3>Recent Volunteers</h3>
                        <hr style="border: 2px solid black">


                        <div id="carouselExample" class="carousel slide ">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        @foreach (var item in ViewBag.recentvolunteered)
                                        {
                                            <div class="col-4  d-flex">
                                                <a class=" ms-4 me-2 text-decoration-none text-black justify-content-center " asp-area="" asp-controller="home" asp-action="login">
                                                    <img src="~/img/volunteer1.png" class="involveduserprofile rounded-circle" height="62" width="62" />
                                                    <label id="" class="text-center">@item.username</label>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="vol-1 col">
                                            <img class=" rounded-circle" src="~/img/volunteer1.png"
                                                 alt="" height="62" width="62">
                                            <p>Ronald Karb</p>
                                        </div>
                                        <div class="vol-1 col">
                                            <img class="rounded-circle" src="~/img/volunteer2.png"
                                                 alt="" height="62" width="62">
                                            <p>Green Smith</p>
                                        </div>
                                        <div class="vol-1 col">
                                            <img class="rounded-circle" src="~/img/volunteer3.png"
                                                 alt="" height="62" width="62">
                                            <p>Terri Aki</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="vol-1 col">
                                            <img class=" rounded-circle" src="~/img/volunteer4.png"
                                                 alt="" height="62" width="62">
                                            <p>Terri Aki</p>
                                        </div>
                                        <div class="vol-1 col">
                                            <img class="rounded-circle" src="~/img/volunteer5.png"
                                                 alt="" height="62" width="62">
                                            <p>Mario Speed</p>
                                        </div>
                                        <div class="vol-1 col">
                                            <img class="rounded-circle" src="/img/volunteer6.png"
                                                 alt="" height="62" width="62">
                                            <p>Terri Aki</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="vol-1 col">
                                            <img class=" rounded-circle" src="~/img/volunteer7.png"
                                                 alt="" height="62" width="62">
                                            <p>Mario Speed</p>
                                        </div>
                                        <div class="vol-1 col">
                                            <img class="rounded-circle" src="~/img/volunteer8.png"
                                                 alt="" height="62" width="62">
                                            <p>Taki Taki rumbaaaaaaaaa</p>
                                        </div>
                                        <div class="vol-1 col">
                                            <img class="rounded-circle" src="~/img/volunteer9.png"
                                                 alt="" height="62" width="62">
                                            <p>Mario Speed</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <button class="carousel-control-prev" style="margin:21rem 0 0 ;" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" style="background-color: #F88634;" aria-hidden="true"></span>

                            </button>
                            <button class="carousel-control-next " style="margin:21rem 0 0 5rem;" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" style="background-color: #F88634;" aria-hidden="true"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- ======================================================================================================================
    ==================================================== RELATED MISSIONS =================================================
    ====================================================================================================================== -->


    <div class="d-flex flex-column justify-content-center mt-5">
        <div class="text-center">
            <h3>Related Missions</h3>
        </div>
    </div>

    <!-- ============================= CARDS ==============================  -->

    <div class="container grid-container ">
        <div class="row">
            @foreach (var item in ViewBag.relatedmission)
            {
                <div class="col-12 col-md-6 col-lg-4 class-card">
                    <div class="card shadow">
                        <div class="card-img ">
                            <img class="card-img-top "
                                 src="~/img/Grow-Trees-On-the-path-to-environment-sustainability.png"
                                 alt="Card image cap" />

                            <div class="pin d-flex align-items-center px-2 py-1 ">
                                <img src="~/img/pin.png" alt="location">
                                <p class="text-white mb-0 px-2">@item.Cityname</p>
                            </div>

                            <div class="heart align-items-center px-2 py-1">
                                <img src="~/img/heart.png" alt="" class="heart-share-img">
                            </div>

                            <div class="share align-items-center px-2 py-1">
                                <img src="~/img/user.png" alt="" class="heart-share-img">
                            </div>

                            <div class="env align-items-center px-2 py-1 ">
                                <p class="mb-0 info-txt-2">@item.Themename</p>
                            </div>
                        </div>
                        <div class="card-body pt-4 px-0">
                            <div class="px-3">
                                <div class="col-12">
                                    <h5 class="card-title demo-1">@item.Title</h5>
                                    <p class="card-text info-txt demo-2">
                                        @item.ShortDescription
                                    </p>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="mb-0">Tree Canada</p>
                                    <div class="d-flex">
                                        <img src="~/img/selected-star.png" alt="">
                                        <img src="~/img/selected-star.png" alt="">
                                        <img src="~/img/selected-star.png" alt="">
                                        <img src="~/img/selected-star.png" alt="">
                                        <img src="~/img/selected-star.png" alt="">
                                    </div>
                                </div>
                            </div>                        
                            @if (item.MissionType == "time")
                            {
                                <div class="date-line">
                                    <hr class="hr-1">
                                    <p class="date-detail mb-3">From @item.StartDate until @item.EndDate</p>
                                    <hr class="hr-1">
                                </div>
                            }
                            else
                            {

                                <div class="date-line">
                                    <hr class="hr-1">
                                    <p class="date-detail mb-3">@item.GoalObjectiveText</p>
                                    <hr class="hr-1">
                                </div>


                            }


                            <div class="d-flex justify-content-between mx-3 mt-2">
                                <div class="d-flex align-items-start ms-2">
                                    <img src="~/img/Seats-left.png" alt="">
                                    <div class="ms-2">
                                        <p class="mb-0">@item.Availability</p>
                                        <p class="info-txt">Seats left</p>
                                    </div>
                                </div>
                                @if (item.MissionType == "time")
                                {
                                    <div class="d-flex align-items-start ms-2">
                                        <img src="~/img/deadline.png" alt="">
                                        <div class="ms-2">
                                            <p class="mb-0">@item.EndDate</p>
                                            <p class="info-txt">Deadline</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="ms-2">
                                        <div class="d-flex">
                                            <img src="~/img/achieved.png" alt="">
                                            <div class="progress ms-2" role="progressbar" aria-label="Basic example"
                                                 aria-valuenow="@item.progress" aria-valuemin="0" aria-valuemax="@item.goal">
                                                <div class="progress-bar" style="width:@item.progressPercent%; background-color: #F88634;"></div>
                                            </div>
                                        </div>
                                        <p class="info-txt">@item.progress achieved</p>
                                    </div>

                                }
                            </div>
                            <hr style="margin: 0;">
                            <div class="m-auto" style="width: fit-content;">
                                <button class="apply px-3 py-2 mb-0 my-3">
                                    <a href="/Employee/User/VolunteeringMission?missionid=@item.MissionId" style="text-decoration:none; color: #F88634;">
                                        Apply &nbsp; <img src="~/img/right-arrow.png" alt="">
                                    </a>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>


            }
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/rateMission.js" asp-append-version="true"></script>
<script src="~/js/volunteering.js" asp-append-version="true"></script>


</html>