@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CI_PLatform_Entities.Models;
@model StoryViewModel


<partial name="_Navbar1" />

<div class="container">
    <div class="mt-5 fs-3">
        Volunteering Timesheet
    </div>

    <div class="row mt-3">
        <div class="border col-6">
            <div class="d-flex ">
                <div class="mt-4">Volunteering Hours</div>

                <button type="button" class="btn rounded-pill ms-auto shadow-none oran mt-3" data-bs-toggle="modal" onclick="nullvalues()"
                        data-bs-target="#timesheetADD">
                    <i class="bi bi-plus-lg me-2 "></i>ADD
                </button>
                <!-- Modal -->
                <div class="modal  fade" id="timesheetADD" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
                    <div class="modal-dialog modal-xl modal-dialog-centered" style="width: 70%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                    Please input below
                                    volunteering Goals
                                </h1>
                                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form asp-action="VolunteeringTimeSheet" asp-controller="User" method="post">
                                <div class="modal-body">
                                    <span>Time</span>
                                    <div>
                                        <label for="mission">Mission</label>
                                        @if (true)
                                        {
                                           @Model.applications 
                                        }
                                        <select class="col-12" asp-for="MissionId" id="mis">
                                            @foreach (var mission in Model.applications)
                                            {
                                                @if (@mission.Mission.MissionType == "time")
                                                {
                                                    <option value="@mission.Mission.MissionId">@mission.Mission.MissionId @mission.Mission.Title</option>
                                                }
                                            }

                                        </select>
                                    </div>

                                    <label class="mt-4">Date Volunteered</label>
                                    <div>
                                        <input asp-for="DateVolunteered" class="col-12 " type="date" id="dat" placeholder="Enter Date" />
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <label for="Action" class="mt-4">Hours</label>
                                            <div>
                                                <input asp-for="hour" class="col-12" type="number" id="hour" min="0" max="23" placeholder="Enter Spent Hours" />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label for="Action" class="mt-4">Minutes</label>
                                            <div>
                                                <input asp-for="minute" class="col-12" type="number" id="min" min="0" max="59" placeholder="Enter Spent Minutes" />
                                            </div>
                                        </div>
                                    </div>
                                    <label class="mt-4">Message</label>
                                    <div>
                                        <textarea asp-for="Notes" class="col-12" rows="5" id="note" placeholder="Enter Your Message"></textarea>
                                    </div>
                                </div>

                                <input type="text" asp-for="TimesheetId" class="form-control shadow-none" id="TimesheetId" aria-describedby="emailHelp" hidden />

                                <div class="modal-footer">
                                    <button type="button" class="btn border-secondary rounded-pill shadow-none"
                                            data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn oran shadow-none">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Mission</th>
                        <th scope="col">Date</th>
                        <th scope="col">Hours</th>
                        <th scope="col">Minutes</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.timesheets != null)
                    {
                        @foreach (var sheet in @Model.timesheets)
                        {
                            if (sheet.Mission.MissionType == "time")
                            {
                                <tr>
                                    <td>@sheet.Mission.Title</td>
                                    <td>@sheet.DateVolunteered</td>
                                    <td>@sheet.TimesheetTime.ToString().Split(":")[0]</td>
                                    <td>@sheet.TimesheetTime.ToString().Split(":")[1]</td>
                                    <td>
                                        <button onclick="edit(@sheet.TimesheetId)" data-bs-toggle="modal"
                                                data-bs-target="#timesheetADD" class="btn shadow-none">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button onclick="deletes(@sheet.TimesheetId)" class="btn shadow-none">
                                            <img src=~/images/bin.png />
                                        </button>
                                    </td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>

        </div>

        <div class="border col-6">
            <div class="d-flex ">
                <div class="mt-4">Volunteering Goals</div>

                <!-- <div class="mt-1 text-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Change Password</div> onclick="Modalopen()"  -->
                <button type="button" class="btn rounded-pill ms-auto shadow-none oran mt-3" data-bs-toggle="modal" onclick="nullvalues()"
                        data-bs-target="#exampleModalADDGoal">
                    <i class="bi bi-plus-lg me-2 "></i>ADD
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalADDGoal" tabindex="-1" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalADDGoal">
                                    Please input below
                                    volunteering Goals
                                </h1>
                                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form asp-action="VolunteeringTimeSheet" asp-controller="User" method="post">
                                <div class="modal-body">
                                    <div>
                                        <label for="mission">Mission</label>
                                        <select class="col-12" asp-for="MissionId" id="miss">
                                            @foreach (var mission in Model.applications)
                                            {
                                                if (mission.Mission.MissionType == "goal")
                                                {
                                                    <option value="@mission.Mission.MissionId">@mission.Mission.Title</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <label for="Action" class="mt-4">Actions</label>
                                    <div>
                                        <input asp-for="Action" class="col-12" id="action" type="text" placeholder="Enter Actions" />
                                    </div>

                                    <label class="mt-4">Date Volunteered</label>
                                    <div>
                                        <input asp-for="DateVolunteered" id="dats" class="col-12 " type="date" placeholder="Enter Date" />
                                    </div>

                                    <label class="mt-4">Message</label>
                                    <div>
                                        <textarea asp-for="Notes" id="notes" class="col-12" rows="5" placeholder="Enter Your Message"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn border-secondary rounded-pill shadow-none"
                                            data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn oran shadow-none">Submit</button>
                                </div>
                                <input type="text" asp-for="TimesheetId" class="form-control shadow-none" id="TimesheetId" aria-describedby="emailHelp" hidden />
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Mission</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.timesheets != null)
                    {
                        @foreach (var sheet in Model.timesheets)
                        {
                            if (sheet.Mission.MissionType == "goal")
                            {
                                <tr id="del">
                                    <th scope="row">@sheet.Mission.Title</th>
                                    <td>@sheet.DateVolunteered</td>
                                    <td>@sheet.Action</td>
                                    <td>

                                        <button onclick="editgoal(@sheet.TimesheetId)" data-bs-toggle="modal"
                                                data-bs-target="#exampleModalADDGoal" class="btn shadow-none">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button onclick="deletes(@sheet.TimesheetId)" data-bs-toggle="modal"
                                                data-bs-target="#exampleModalADDGoal" class="btn shadow-none">
                                            <img src=~/images/bin.png />
                                        </button>
                                    </td>
                                </tr>
                            }

                        }
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>


<script src="~/js/VolunteeringTimeSheet.js" asp-append-version="true"></script>