@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_navigationSidebar";
}

@using CI_Platform_Project.Models;
@model UserCrudVieweModel


<body>
   
            <table id="userTable">
                <thead>
                    <tr>
                        <th>Story Title</th>
                        <th>Full Name</th>
                        <th>Mission Title</th>                       
                        <th>Action</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var applications in Model.Stories)
                    {
                        <tr>
                            <td>@applications.Title</td>

                            <td>@applications.User.FirstName  @applications.User.LastName</td>

                            <td>@applications.Mission.Title</td>

                            <td>
                                <span>
                                    <a target="_blank" style="text-decoration:none" asp-area="Employee" asp-controller="StoryListing" asp-action="StoryDetail" asp-route-storyid="@applications.StoryId">
                                    <button class="btn shadow-none oran">
                                        View
                                    </button>
                                    </a>
                                </span>
                                <span>
                                    <button class="btn shadow-none" onclick="Approve(@applications.StoryId)">
                                        <i class="bi bi-check-circle fs-5" style="color:green;"></i>
                                    </button>
                                </span>
                                <span>
                                    <button class="btn shadow-none" onclick="Reject(@applications.StoryId)">
                                        <i class="bi bi-x-circle fs-5" style="color:red;"></i>
                                    </button>
                                </span>
                                <span>
                                    <button class="btn shadow-none">
                                        <i class="bi bi-trash fs-5"></i>
                                    </button>
                                </span>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
     
</body>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

