
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model List<CI_PLatform_Entities.Models.Mission>*@
    
@inject IHttpContextAccessor Accessor

@{
    var id = Context.Session.GetString("userID");

}
@{
    //bool favcheck = false;
}

@{
    int sum = 0;
    int count = 0;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <!-- <link rel="stylesheet" href="./bootstrap.min.css"> -->
   @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">*@
    <link rel="stylesheet" href="~/css/LandingPage.css" asp-append-version="true">
   

</head>
<body>


    <div>
        @if (TempData["okay"] != null)
        {
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
                toastr.success('@TempData["okay"]');
            </script>
        }
    </div>


    <div class="filters-section d-flex align-items-start flex-wrap justify-content-start">
    </div>

    <div class="explore-now row me-5">
        <div class="col-lg-6 d-inline">
            <p class="fs-4 ms-5 mt-2">
                Explore <strong class="fs-3">@ViewBag.TotalMission missions</strong>
            </p>
        </div>


        <div class="col-lg-6 d-flex mt-3 sortby mb-3">
            <div class="dropdown sort me-2 mt-1">
                <button class="btn dropdown d-flex align-items-center justify-content-between outline-0 w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="sortby me-5 ">Sort By</span>
                    <img class="mt-2" src="~/img/drop-down.png" alt="">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"  onclick="filter('Newest')">Newest</a></li>
                    <li><a class="dropdown-item"  onclick="filter('Oldest')">Oldest</a></li>
                    <li><a class="dropdown-item" onclick="filter('Lowest seats')">Lowest seats</a></li>
                    <li><a class="dropdown-item" onclick="filter('Highest seats')">Highest seats</a></li>
                    <li>
                        <a class="dropdown-item" asp-action="LandingPage" onclick="filter('My favourites')">
                            My favourites
                        </a>
                    </li>
                    <li><a class="dropdown-item" asp-action="LandingPage" onclick="filter('Registration deadline')">Registration deadline</a></li>

                </ul>
            </div>
            <div class="ms-5 ">
                <a class=" btn-grid" href="">
                    <img src="~/img/grid.png" class="mt-2" />
                </a>
                <a class="btn-list ms-3" href="">
                    <img src="~/img/list.png" class="mt-2" />
                </a>
            </div>
        </div>
    </div>


    <!-- ------------------------------------CARDS-------------------------------------- -->
     @*< ================================================================================= >*@
    <!-- ------------------------------- CARD - 1 ---------------------------  -->

    <div class="container grid-container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 class-card">
                    <div class="card shadow">
                        <div class="card-img ">
                            <img class="card-img-top "
                                 src="~/img/Grow-Trees-On-the-path-to-environment-sustainability.png"
                                 alt="Card image cap" />

                            <div class="pin d-flex align-items-center px-2 py-1 ">
                                <img src="~/img/pin.png" alt="location">
                                <p class="text-white mb-0 px-2">@item.Cityname</p>
                            </div>

                            @if (item.isfav==true)
                            {
                                <div onclick="AddtoFav()" class="heart align-items-center px-2 py-1">
                                    <img src="~/img/heart.png" alt="" style="color:darkorange" id="addtofav" class="heart-share-img">
                                </div>
                            }
                            else
                            {
                                <div class="heart align-items-center px-2 py-1">
                                    <img src="~/img/heart.png" alt="" class="heart-share-img">
                                </div>
                            }
                            <div class="share align-items-center px-2 py-1">
                                <img src="~/img/user.png" alt="" class="heart-share-img">
                            </div>

                            <div class="env align-items-center px-2 py-1 ">
                                <p class="mb-0 info-txt-2">@item.Themename</p>
                            </div>
                        </div>
                        <div class="card-body pt-4 px-0">
                            <div class="px-3">
                                <div class="col-12">
                                    <h5 class="card-title demo-1">@item.Title</h5>
                                    <p class="card-text info-txt demo-2">
                                        @item.ShortDescription
                                    </p>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="mb-0">Tree Canada</p>
                                    <div class="d-flex">


                                        @if (item.AverageRating != null)
                                        {
                                            for (int i = 0; i < item.AverageRating; i++)
                                            {
                                                <img src="~/img/selected-star.png" />

                                            }
                                            for (int i = item.AverageRating; i < 5; i++)
                                            {
                                                <img src="~/img/star.png" />

                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            @if (@item.MissionType == "time")
                            {
                                <div class="date-line">
                                    <hr class="hr-1">
                                    <p class="date-detail mb-3">From @item.StartDate until @item.EndDate</p>
                                    <hr class="hr-1">
                                </div>
                            }
                            else
                            {                        
                                <div class="date-line">
                                    <hr class="hr-1">
                                    <p class="date-detail mb-3">@item.GoalObjectiveText</p>
                                    <hr class="hr-1">
                                </div>
                            }


                            <div class="d-flex justify-content-between mx-3 mt-2">
                                <div class="d-flex align-items-start ms-2">
                                    <img src="~/img/Seats-left.png" alt="">
                                    <div class="ms-2">
                                        <p class="mb-0">@item.Availability</p>
                                        <p class="info-txt">Seats left</p>
                                    </div>
                                </div>
                                @if (item.MissionType == "time")
                                {
                                    <div class="d-flex align-items-start ms-2">
                                        <img src="~/img/deadline.png" alt="">
                                        <div class="ms-2">
                                            <p class="mb-0">@item.EndDate</p>
                                            <p class="info-txt">Deadline</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="ms-2">
                                        <div class="d-flex">
                                            <img src="~/img/achieved.png" alt="">
                                            <div class="progress ms-2" role="progressbar" aria-label="Basic example"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" style="width:100px; background-color: #F88634;"></div>
                                            </div>
                                        </div>
                                        <p class="info-txt">8000 achieved</p>
                                    </div>
                                }
                            </div>
                            <hr style="margin: 0;">
                            @if (id == null)
                            {
                                <div class="m-auto" style="width: fit-content;">
                                    <button class="apply px-3 py-2 mb-0 my-3" onclick="apply()">
                                        <a style="text-decoration:none; color: #F88634;">
                                            Apply &nbsp; <img src="~/img/right-arrow.png" alt="">
                                        </a>
                                    </button>
                                </div>

                            }
                            else
                            {
                                <div class="m-auto" style="width: fit-content;">
                                    <button class="apply px-3 py-2 mb-0 my-3">
                                        <a href="/User/VolunteeringMission?missionid=@item.MissionId" style="text-decoration:none; color: #F88634;">
                                            Apply &nbsp; <img src="~/img/right-arrow.png" alt="">
                                        </a>
                                    </button>
                                </div>
                            }

                        </div>

                    </div>
                </div>
            }
        </div>

        @*=============================================================================================*@
        @*============================================== PAGINATION ===================================*@
        @*=============================================================================================*@



        <div class="pager">
            @if (ViewBag.CurrentPage > 1)
            {
                <a href="@Url.Action("_LandingCards", new { page = ViewBag.CurrentPage - 1 })">&lt; &lt;</a>
            }

            @for (int i = 1; i < ViewBag.TotalPages; i++)
            {
                if (i == ViewBag.CurrentPage)
                {
                    <span>@i</span>
                }
                else
                {
                    <a href="@Url.Action("_LandingCards", new { page = i })">@i</a>
                }
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages - 1)
            {
                <a href="@Url.Action("_LandingCards", new { page = ViewBag.CurrentPage + 1 })"> &gt;&gt;</a>
            }
        </div>
    </div>
</body>


@*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>*@
@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/landing.js"></script>




<script>
    function apply(){
        alert("Please Login First");
    }
</script>

</html>